*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
body {
  font-size: 18px;
  line-height: 1.55556rem;
  font-family: "Space Grotesk";
  color: white;
}

.social-links {
  text-align: center;
}
.social-links p {
  font-weight: 700;
  font-size: 1.33333rem;
  line-height: 1.33333rem;
  letter-spacing: -0.01852rem;
}

a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.12698rem;
  padding-bottom: 0.5rem;
}

.hero {
  text-align: center;
}
.hero h1 {
  font-size: 2.22222rem;
  font-weight: 700;
  line-height: 2.22222rem;
  letter-spacing: -0.06464rem;
}
.hero div {
  font-size: 0.88889rem;
  line-height: 1.44444rem;
}
.hero div p {
  font-weight: 500;
  color: #D9D9D9;
}

.skills {
  text-align: center;
}
.skills div h3 {
  font-size: 1.77778rem;
  font-weight: 700;
  line-height: 2.22222rem;
  letter-spacing: -0.05555rem;
}
.skills div p {
  color: #D9D9D9;
  font-size: 0.88889rem;
  line-height: 1.44444rem;
  font-weight: 500;
}

.project div span {
  color: #D9D9D9;
  line-height: 1.55556rem;
  text-transform: uppercase;
}

.contact {
  text-align: center;
}
.contact p {
  color: #D9D9D9;
  font-size: 0.88888rem;
  line-height: 1.44444rem;
  font-weight: 500;
}
.contact ::-moz-placeholder {
  font-family: "Space Grotesk";
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.88889rem;
  line-height: 1.44444rem;
  letter-spacing: -0.0123456;
  font-weight: 500;
  text-transform: uppercase;
}
.contact ::placeholder {
  font-family: "Space Grotesk";
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.88889rem;
  line-height: 1.44444rem;
  letter-spacing: -0.0123456;
  font-weight: 500;
  text-transform: uppercase;
}
.contact input[type=submit] {
  text-align: right;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 0.88889rem;
  line-height: 1.44444rem;
  letter-spacing: 0.12698rem;
}

h2 {
  font-size: 2.22222rem;
  font-weight: 700;
  line-height: 2.22222rem;
  letter-spacing: -0.06313rem;
}

h3 {
  font-size: 2.22222rem;
  line-height: 2.22222rem;
  font-weight: 700;
  letter-spacing: -0.06313rem;
}

h4 {
  font-size: 1.33333rem;
  font-weight: 700;
  line-height: 1.77778rem;
  text-transform: uppercase;
}

body {
  background-color: #151515;
}

.social-links {
  width: 38%;
  margin: 0 auto;
  padding-top: 1.11111rem;
}
.social-links ul {
  margin-top: 1.11111rem;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url("../../assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: 230% 30%;
  /*
      SEGUIR POSICIONANDO EL ANILLO DE FONDO DEL HEADER

  */
}
.hero img {
  display: block;
  margin: 0 auto;
  margin-top: -5.55rem;
  width: 46.4%;
}
.hero div {
  width: 91.46667%;
  margin: 0 auto;
  margin-top: 2.22222rem;
  padding: 0 0.8rem;
}
.hero div p {
  margin: 1.33333rem 0;
}

a.underline {
  border-width: 2px;
}

.skills,
.projects,
.contact div {
  width: 92%;
  margin: 0 auto;
}

.skills {
  border-top: 1px solid white;
  margin-top: 4.44444rem;
}
.skills div {
  width: 92%;
  margin: 0 auto;
  padding-top: 0.88888rem;
  margin-top: 1.33333rem;
}

.background-image {
  background-image: url("../../assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 18vh;
  position: absolute;
}

.projects {
  border-top: 1px solid white;
  margin-top: 3rem;
  padding-top: 5rem;
  position: relative;
}
.projects .background-image {
  top: -4rem;
  left: 10rem;
}
.projects .projects-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .project {
  margin-top: 2.22222rem;
}
.projects .project img {
  width: 100%;
}
.projects .project h4 {
  margin-top: 1.11111rem;
}
.projects .project div {
  margin-top: 0.4rem;
}
.projects .project div span {
  margin-right: 1rem;
}
.projects .project .project-links {
  margin-top: 1.11111rem;
}
.projects .project .project-links a {
  margin-right: 1.66667rem;
}

.contact,
footer {
  background-color: #242424;
}

.contact {
  margin-top: 3rem;
  padding-top: 3rem;
  position: relative;
}
.contact .background-image {
  background-position-x: 100%;
  top: 22rem;
  left: -9rem;
}
.contact p {
  margin-top: 1.11111rem;
}
.contact form {
  padding-bottom: 4.83rem;
  border-bottom: 1px solid white;
}
.contact form input {
  background: none;
  border: none;
}
.contact form input[type=text],
.contact form textarea {
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  margin-top: 1.77778rem;
  padding-left: 1.33333rem;
  padding-bottom: 0.88889rem;
}
.contact form textarea {
  background: none;
  resize: none;
}
.contact form ::-moz-placeholder {
  display: block;
}
.contact form ::placeholder {
  display: block;
}
.contact form input[type=submit].underline {
  display: block;
  width: 40%;
  margin-top: 1.77778rem;
  margin-left: auto;
  padding: 0;
  padding-bottom: 0.55556rem;
  border-bottom: 4px solid #4EE1A0;
}

footer {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.underline {
  border-bottom: 4px solid #4EE1A0;
}/*# sourceMappingURL=styles.css.map */